# PROFILE
DOCKER_USERNAME=
IMAGE_AUTH_VERSION=
IMAGE_COOLIFY_OPERATOR_VERSION=
IMAGE_DB_VERSION=
IMAGE_WEB_VERSION=
IMAGE_VIBE_DEVELOPMENT_BACKEND_VERSION=
IMAGE_VIBE_DEVELOPMENT_FRONTEND_VERSION=
NODE_ENV=development

# Service ENVs
# AUTH
AUTH_URL=
AUTH_COOKIE=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SESSION_SECRET=

# COOLIFY OPERATOR
COOLIFY_API_TOKEN_DEPLOY=
COOLIFY_API_TOKEN_READ=
COOLIFY_API_TOKEN_WRITE=
COOLIFY_API_URL=

# DB
DATABASE_URL=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=

# Web
WEB_PORT=
WEB_URL=

# Vibe Deployment
MODEL=
OPENAI_BASE_URL=
OPENAI_API_KEY=
JWT_SECRET=
BRAVE_API_KEY=
BACKEND_URL=
FRONTEND_ORIGIN=
COOLIFY_BASE_URL=
COOLIFY_ACCESS_TOKEN=
COOLIFY_APPS_DOMAIN=
